<div class="container">
  <div class="top">
      <button mat-raised-button color="primary" class="button-add" (click)="createTheme()">Add theme</button>

      <mat-form-field class="search">
          <input matInput placeholder="Search" [(ngModel)]="searchString">
      </mat-form-field>
  </div>
  <table id="datatables" class="table">
      <thead>
          <tr>
              <th *ngFor="let row of displayedColumns">{{ row }}</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let theme of themes| async; let i = index">
              <td>{{i+1}}</td>
              <td>{{theme.discipline}}</td>
              <td>{{theme.topic}}</td>
              <td class="">
                  <button mat-raised-button color="primary" (click)="editTheme(theme)" class="action"><mat-icon>edit</mat-icon></button>
                  <button mat-raised-button color="warn" (click)="deleteTheme(theme)" class="action"><mat-icon>clear</mat-icon></button>
              </td>
          </tr>
      </tbody>
  </table>
</div>