<div class="container">

    <h2 mat-dialog-title>Add task</h2>
    <mat-dialog-content>

      <mat-form-field>
        <mat-select placeholder="Discipline" [(ngModel)]="selectedDiscipline" (change)="onSelect($event.value)">
          <mat-option *ngFor="let discipline of disciplines | async" [value]="discipline">
            {{ discipline.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Theme" [(ngModel)]="selectedTheme">
          <mat-option *ngFor="let theme of themes | async" [value]="theme">
            {{ theme.topic }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Question" [(ngModel)]="question"></textarea>
      </mat-form-field>

      <mat-form-field>
        <input matInput #input type="text" placeholder="Answer" [(ngModel)]="newAnswer" >
      </mat-form-field>

      <button mat-mini-fab color="primary" (click)="addAnswer()" [disabled]="input.value===''">
        <mat-icon>add</mat-icon>
      </button>

      <ul>
        <li *ngFor="let answer of answers; let i=index">
          <input type="checkbox" class="checkbox" [(ngModel)]="answer.isTrue" />
          <span [ngClass]="{'checked': answer.isTrue}">{{ answer.answer }}</span>
          <span (click)="deleteAnswer(i)" class="delete-icon">[X]</span>
        </li>
      </ul>

    </mat-dialog-content>
    <mat-dialog-actions>
      <!-- <button mat-raised-button color="primary" type="submit" [disabled]="!addTaskForm.valid">
        Create</button> -->
        <button mat-raised-button color="primary" (click)="createSickLeave()" >
          Create</button>
      <button mat-raised-button color="warn" [mat-dialog-close]="true">Close</button>
    </mat-dialog-actions>
</div>