<div class="container">
  <div class="top">
      <mat-form-field class="search">
          <input matInput placeholder="Search" [(ngModel)]="searchString">
      </mat-form-field>
  </div>
  <table id="datatables" class="table">
      <thead>
          <tr>
              <th *ngFor="let row of displayedColumns">{{ row }}</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let test of tests| async; let i = index">
              <td>{{i+1}}</td>
              <td>{{test.test_name}}</td>              
              <td>{{test.discipline}}</td>
              <td>{{test.topic}}</td>
              <td>{{test.amount_tasks}}</td> 
              <td>{{test.timer}}</td>    
              <td>{{test.creator}}</td> 
              <td>{{test.date?.split('-').reverse().join('.')}}</td>                                     
              <td class="">
                  <button mat-raised-button color="warn" (click)="onSelect(test)" class="action" ><mat-icon>edit</mat-icon></button>                  
                  <button mat-raised-button color="warn" (click)="deleteTest(test)" class="action"><mat-icon>clear</mat-icon></button>
              </td>
          </tr>
      </tbody>
  </table>
</div>