<!-- <h2 mat-dialog-title>Add discipline</h2>
<mat-dialog-content>
  <mat-form-field class="modal-form">
      <input class="modal-input" matInput placeholder="Discipline name" [(ngModel)]="discipline.name">
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="createDiscipline()">Create</button>    
  <button mat-button [mat-dialog-close]="true">Close</button>
</mat-dialog-actions> -->

<div class="container">
  <form [formGroup]="addDisciplineForm" (ngSubmit)="createDiscipline()">
    <!-- <h2 mat-dialog-title>Add discipline</h2> -->

    <mat-dialog-content>
      <mat-form-field class="modal-form">
        <input class="modal-input" #input matInput placeholder="Discipline name" formControlName="name">
        <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint>
        <mat-error *ngIf="formErrors.name">{{ formErrors.name }}</mat-error>
      </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!addDisciplineForm.valid">Add</button>
      <button mat-raised-button color="warn" [mat-dialog-close]="true">Close</button>
    </mat-dialog-actions>

  </form>
</div>