<div class="example-container mat-elevation-z8">
  <div class="button-row">
    <button mat-raised-button color="primary" (click)="openDialog()">Додати дисципліну</button>
  </div>
  <div class="example-header">
      <mat-form-field floatPlaceholder="never">
        <input matInput #filter placeholder="Filter users">
      </mat-form-field>
  </div>  
  <mat-table #table [dataSource]="dataSource" matSort>
      
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      <!-- ID Column -->
      <ng-container matColumnDef="number">
        <mat-header-cell *matHeaderCellDef mat-sort-header> № </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.number}} </mat-cell>
      </ng-container>
      
      <!-- ID Column -->
      <ng-container matColumnDef="discipline">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Дисципліна </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.discipline}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
        <mat-cell *matCellDef="let row"> <a mat-raised-button routerLink="." color="primary">Edit</a> </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
        <mat-cell *matCellDef="let row"> <a mat-raised-button routerLink="." color="warn">Delete</a> </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator
                  [length]="exampleDatabase.data.length"
                  [pageIndex]="0"
                  [pageSize]="25"
                  [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>