<div class="modal-wrap">
  <mat-form-field class="modal-form">
    <input class="modal-input" matInput placeholder="Test name">
  </mat-form-field>
  <mat-form-field class="modal-form">
    <input class="modal-input" matInput placeholder="Theme">
  </mat-form-field>
  <mat-form-field class="modal-form">
    <input class="modal-input" matInput placeholder="Question's count">
  </mat-form-field>
  <mat-form-field class="modal-form">
    <input class="modal-input" matInput placeholder="Time limit">
  </mat-form-field>
  <div class="modal-controls">
    <button mat-raised-button color="accent">Create</button>
    <button 
      mat-raised-button
      color="primary"
      (click)="onNoClick()">Cancel</button>
  </div>
</div>   

