<p><a [routerLink]="['/login']">Logout</a></p>
<h2 class="welcome">Teacher Name</h2>
<div class="controls">
    <div class="nav-controls">
        <button [routerLink]="['tests']" mat-raised-button color="primary">Tests</button>
        <button [routerLink]="['students']" mat-raised-button color="primary">Students</button>
        <button [routerLink]="['questions']" mat-raised-button color="primary">Questions</button>
    </div>
    <button class="create-test-btn" mat-raised-button color="accent" (click)="openDialog()">Create test</button>
</div>

<router-outlet></router-outlet>